#example-fade-text {
  padding: 3rem;
  border: solid red 2px;
  margin: 2rem;
}

.aboutMe {
  display: flex;
  align-content: flex-start;
  margin: 2rem;
  position: relative;
  float: right;
}
#about-images {
  display: flex;
  align-items: flex-end;
  left: 100px;
  top: 5rem;
  flex-direction: column;

  position: relative;
}

.headshot {
  margin-bottom: 2rem;
}

.fadein-text {
  font-family: Arial;
  font-size: 20px;
  animation: fadeIn 5s;
  padding: 2rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10rem;
  min-height: 40rem;
  max-width: 40rem;
  margin-left: 22rem;
  background-color: antiquewhite;
}

.army {
  position: relative;
  left: 20em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gradient {
  background: linear-gradient(270deg, #fa8405, #e58868, #f4bfad);
  background-size: 600% 600%;
  min-height: 400px;
  min-width: 100%;
  position: absolute;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
