.blogModal {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 5rem;
  display: grid;
  min-width: 45rem;
  max-width: 50rem;
}

.blogImage {
  padding: 2rem;
  max-width: 40rem;
  max-height: 55rem;
}

.blogContainer {
  display: grid;
  grid-template-columns: 80px 200px auto 40px;
  justify-content: space-evenly;
}
