/* Media Queries for Mobile Responsiveness */

@media only screen and (max-width: 768px) {
  .title {
    font-size: 10vw;
    top: 8rem !important;
  }
  .title h2 {
    top: -7rem !important;
  }

  .home-image {
    position: relative;
    margin-top: 9rem !important;

    left: 0rem !important;
  }

  .contactForm {
    position: relative;
    margin-top: 20rem !important;
    left: 0rem !important;
  }

  .Socials {
    min-height: 20rem;
  }

  .row {
    margin: 1rem;
  }
  /* Media Query for Hamburger Menu */
  .header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-indent: 15px;
    font-size: 30px;
    left: 1px;
  }
  #info-section {
    top: 5rem !important;
    margin-bottom: 5rem;
  }

  #header-logo:hover {
    background: none;
  }

  .header-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-indent: 15px;
    font-size: 30px;
    left: 40px;
  }

  a {
    color: rgb(69, 97, 69) !important;
    font-family: var(--fontFamilyBase), -apple-system, system-ui, Helvetica Neue,
      sans-serif;
    font-weight: 500;
  }

  a:hover {
    background: #f58265;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    align-content: center;
  }

  a:link {
    text-decoration: none;
    color: green !important;
    font-family: var(--fontFamilyBase), -apple-system, system-ui, Helvetica Neue,
      sans-serif;
  }

  .menu-toggle {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-links {
    display: none;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .menu-toggle .fas {
    font-size: 24px;
  }

  .menu-toggle.active + #header-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    padding: 20px;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    z-index: 9999;
  }
}

@media screen and (max-width: 767px) {
  .Socials-text {
    min-width: auto;
    min-height: auto;
    border: none;
    box-shadow: none;
  }

  .App {
    background: none;
    animation: none;
    max-width: fit-content !important;
    max-height: fit-content !important;
  }

  #p2 {
    left: 0rem !important;
    bottom: 0;
  }

  .plant-icons {
    position: relative;

    top: 48rem;
    right: 44rem;
  }

  #hangingPlant {
    display: none;
  }
  #hangingPlant2,
  .arrow {
    display: none;
  }

  h5 {
    display: none;
  }
}
