.experience-head {
  position: relative;
  border: red 3px solid;
  background-color: antiquewhite;
  border-radius: 5px;
  top: 15rem;
  width: 70%;

  left: 15%;
}

.tech-icons {
  position: relative;
  font-size: 60px;
  left: 3rem;
}

.spin {
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

hr {
  position: relative;
  width: 80%;
  left: 7rem;
}
