@import url(CssFiles/Blog.css);
@import url(CssFiles/About.css);
@import url(CssFiles/Header.css);
@import url(CssFiles/Work.css);

h1 {
  color: black;
}
#info-section {
  font-size: 20px;
}

body {
  height: 100%;
  width: 100vw;
}

#hangingPlant {
  position: relative;
  left: 30rem;
  top: 2px;
}
#hangingPlant2 {
  position: relative;
  left: 30rem;
  bottom: 35rem;
}

.contactForm {
  border: none;
  border-radius: 5px;
  padding: 3rem;
  margin: 2rem;
  left: 3rem;
  position: relative;
  bottom: 65rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 700px;
}
.contactTitle {
  text-align: center;
}

.title,
#page-title {
  margin: 10px;
  position: relative;
  color: antiquewhite;
  font-weight: 600;
  font-size: 80px;
  top: -7rem;
  left: 2rem;
  font-family: var(--fontFamilyBase), -apple-system, system-ui, Helvetica Neue,
    sans-serif;
}

.title h2 {
  position: relative;
  margin: 0px;
  top: -3rem;
}
.Socials {
  position: relative;
  min-width: 8rem;
  min-height: 25rem;
  margin-left: 5rem;
  margin-right: 5rem;
  top: -18.5rem;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
}
.Socials img {
  width: 70px;
  height: 70px;
}

.row {
  display: flex;
  margin: 4rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.column {
  flex: 2%;
  padding: 1rem;
}

.plant-icons img {
  width: 90px;
  height: 90px;
  position: relative;
  margin: 0px;
  top: -24rem;
  left: 65rem;
}

.arrow {
  position: relative;
  width: 80px;
  height: 80px;
  bottom: 20rem;
  left: 65rem;
  margin: 0px;
  font-size: 50px;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.Socials-text {
  text-align: center;
  border: solid rgb(244, 153, 6) 0.5px;
  min-width: 8rem;
  min-height: 25rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Socials-text h3 {
  text-align: center;
  margin: 2rem;
  padding: 2rem;
}

.home-image {
  position: relative;
  margin: 5rem;
  left: 18rem;
  border: 2rem white solid;
  bottom: 7rem;
}

.App {
  background: linear-gradient(270deg, #fa8405, #e58868, #f4bfad);
  background-size: 300% 300%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* .slide-right {
  width: 100%;
  overflow: hidden;
}
.slide-right h1,
h2 {
  animation: 7s slide-right;
} */

/* @keyframes slide-right {
  from {
    margin-left: -100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} */

.formplant {
  position: relative;
  left: 20em;
}

#p2 {
  position: relative;
  left: 4rem;
  bottom: 20rem;
}

.App {
  max-height: 2550px;
}

h5 {
  position: relative;
  left: 60rem;
  bottom: 10rem;
  height: 5rem;
  width: 25rem;
  font-size: 30px !important;
  color: antiquewhite;
  font-weight: 600;
  font-family: var(--fontFamilyBase), -apple-system, system-ui, Helvetica Neue,
    sans-serif;
}
