@import url(CssFiles/Blog.css);
@import url(CssFiles/About.css);
@import url(CssFiles/Header.css);

h1 {
  color: black;
}

.contactForm {
  border: none;
  border-radius: 5px;
  padding: 3rem;
  margin: 5rem;
  margin-top: 2rem;
  position: relative;
  bottom: 5rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 600px;
}
.contactTitle {
  text-align: center;
}

.title,
#page-title {
  margin: 4rem;
  position: relative;
  color: antiquewhite;
  font-weight: 600;
  font-size: 70px;
  top: 4rem;
  font-family: var(--fontFamilyBase), -apple-system, system-ui, Helvetica Neue,
    sans-serif;
}
.Socials {
  position: relative;
  min-width: 8rem;
  min-height: 25rem;
  margin-left: 5rem;
  margin-right: 5rem;
  top: -8rem;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
}
.Socials img {
  width: 70px;
  height: 70px;
}

.row {
  display: flex;
  margin: 4rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.column {
  flex: 2%;
  padding: 1rem;
}

.plant-icons img {
  width: 90px;
  height: 90px;
  position: relative;
  margin: 0px;
  top: -13.5rem;
  left: 65rem;
}

.Socials-text {
  text-align: center;
  border: solid rgb(244, 153, 6) 0.5px;
  min-width: 8rem;
  min-height: 25rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Socials-text h3 {
  text-align: center;
  margin: 2rem;
  padding: 2rem;
}

.home-image {
  position: relative;
  margin: 5rem;
  left: 18rem;
  border: 2rem white solid;
}

.App {
  background: linear-gradient(270deg, #fa8405, #e58868, #f4bfad);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.slide-right {
  width: 100%;
  overflow: hidden;
}
.slide-right h1,
h2 {
  animation: 7s slide-right;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.foot {
  background-color: white;
  height: 20px;
}
